body {
    font-size: 24px;
}
li.green {
    color: red;
}
li.red {
    color: blue;
}
li.blue {
    color: green;
}
ul.red {
    color: cyan;
}
ul.green {
    color: orange;
}
u.blue {
    color: magenta;
}
p {
    font-weight: italic;
}
p {
    font-style: bold;
}
